@model Pasien

<h3>Create Data Pasien</h3>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="NamaP" class="control-label"></label>
                <input asp-for="NamaP" class="form-control" />
                <span asp-validation-for="NamaP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jk" class="control-label"></label>
                <input asp-for="Jk" class="form-control" />
                <span asp-validation-for="Jk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GolD" class="control-label"></label>
                <input asp-for="GolD" class="form-control" />
                <span asp-validation-for="GolD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempatL" class="control-label"></label>
                <input asp-for="TempatL" class="form-control" />
                <span asp-validation-for="TempatL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TanggalL" class="control-label"></label>
                <input asp-for="TanggalL" class="form-control" />
                <span asp-validation-for="TanggalL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamaIbu" class="control-label"></label>
                <input asp-for="NamaIbu" class="form-control" />
                <span asp-validation-for="NamaIbu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusM" class="control-label"></label>
                <input asp-for="StatusM" class="form-control" />
                <span asp-validation-for="StatusM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>