@model Departemen

@{
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="card-body">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NamaDep" class="control-label"></label>
                <input asp-for="NamaDep" class="form-control" />
                <span asp-validation-for="NamaDep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
