@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Sharp Hospital</h1>
    <img src="/Image/ilustrasi-rumah-sakit..jpg" />
    <p>Created By Kurnia Zulianti</p>
</div>